.App {
  text-align: center;
}

@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}


h1.greenish {
  font-family: 'SEGA LOGO FONT';
  font-size: 300;
  font-weight: 400;
  color: #00817d9c;
}

.fonted{
  font-family: 'adobe-gurmukhi-regular', sans-serif;
}

img.marine{
  width: 100px;
  padding-left: 15px;
  padding-top: 15px;
}
.cardlist{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}